<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>회원가입</h4>
        </div>
    </div>
    <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" th:field="*{id}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">사용자ID</label>
            ?.>,,
        <div class="mb-3">
            <label for="password1" class="form-label">비밀번호</label>
            <input type="password" th:field="*{psw_check1}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">비밀번호 확인</label>
            <input type="password" th:field="*{psw_check2}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">비밀번호 확인</label>
            <input type="password" th:field="*{psw_check2}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">비밀번호 힌트란</label> <!-- 비밀번호 힌트란을 드래그를 통해서 넣을 수 있게 기능 추가 부탁드립니다.-->
            <input type="email" th:field="*{hint}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>
</html>